<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head"></head>
  <style>
    .row {
        display : flex;
        justify-content: center;
    }

    .card{
      height: 400px;
    }
  </style>
  <script th:if="${message}">
    let m = '[[${message}]]';
    alert(m);
  </script>
<body>
    <nav th:replace="/fragments/nav :: 네브바"></nav>

    <div class="row mt-5 height-auto">
      <div class="col-3.5 mt-3 ml-4 mr-4">
        <div class="card">
          <div class="h3 card-header mt-2 text-center" style="color:navy; font-weight: bold;">로그인</div>
          <form role="form" method="post" th:action="@{/login}">
            <div class="card-body">
              <div class="form-group">
                <label th:for="email">이메일주소</label>
                <input type="email" name="email" class="form-control" style="width:500px" placeholder="이메일을 입력해주세요">
              </div>
              <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" name="password" id="password" style="width:500px" class="form-control" placeholder="비밀번호 입력">
              </div>

              <span th:if="${loginErrorMsg}" class="error mt-2" th:text="${loginErrorMsg}"></span>

              <div class="form-group mt-5" style="float:right">
                <button class="btn btn-primary">로그인</button>
                <a th:href="@{/register}" class="btn btn-dark my-3">회원가입</a>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  

    <script>
      var this_title = "login";
      document.title = this_title;
    </script>
</body>
</html>