<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-D&B"></head>
  <body>
    <nav th:replace="/fragments/nav :: 네브바"></nav>
    <main role="main" class="container mt-5">
        <input type="hidden" th:field="${diary.id}" />
   
        <input type="text" class="form-control" style="text-align:center" th:value="${diary.title}" readonly/>

        <div class="date mb-3 mt-2" th:if="${diary.createDay == diary.updateDay}" style="text-align:right">
          등록일-<span th:text="${#temporals.format(diary.createDay, 'yyyy-mm-dd a hh:mm:ss')}"></span>
        </div>
        <div class="date mb-3 mt-2" th:if="${diary.createDay != diary.updateDay}" style="text-align:right">
          등록일-<span th:text="${#temporals.format(diary.createDay, 'yyyy-mm-dd a hh:mm:ss')}"></span>
          <br>
          수정일-<span th:text="${#temporals.format(diary.updateDay, 'yyyy-mm-dd a hh:mm:ss')}"></span>
        </div>

      
        <div class="row mt-3" th:if="${diary.image != null}">
          <div class="col-md-3">
            <img th:src="@{'/diary_file/' + ${diary.image}}" style="width: 450px; height:500px;" />
          </div>
          <div class="ml-auto col-md-7">
            <div class="content ml-5" th:utext="${diary.content}"></div>
          </div>
        </div>

        <div class="noimg mt-3" th:if="${diary.image == null}">
          <div class="content" th:utext="${diary.content}"></div>
        </div>

        <div class="form-group mt-3" style="float:right">
          <a th:href="@{/diarys}" class="btn btn-dark my-3">돌아가기</a>
          <a th:href="@{'/diarys/edit/' + ${diary.id}}" class="btn btn-success my-3">수정하기</a>
          <a class="btn btn-danger my-3 deleteConfirm" th:href="@{'/diarys/delete/' + ${diary.id}}">삭제하기</a>
        </div>

      <script th:src="@{/js/delete.js}"></script>
    </main>

  </body>
</html>
